fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
alembic
pydantic
pydantic-settings
python-multipart
httpx
pytest
pytest-asyncio
cryptography
pyjwt[crypto]
python-jose[cryptography]
psycopg2-binary
aiofiles
aiosqlite
python-dotenv
stera-sdk[all]
